
.services-carousel-container {
  margin: 0 auto 2em auto;
}

.services-carousel__block {
  max-width: 1000px;
  margin: 0 auto;
  padding: 1em;
  box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -webkit-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  border-radius: 5px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: rgba(179, 179, 179, 0.452);
}

/* --------------- CAROUSEL END --------------- */



@media only screen and (min-width: 860px) {

  /* --------------- CAROUSEL START --------------- */

  .services-carousel__block {
      max-width: 1000px;
  }

  /* --------------- CAROUSEL END --------------- */
}