
.contact-form-container {
    background-color: var(--clr-main-color);
}

.contact-form {
    width:100%;
    padding: 5em 1em;
    text-align: left;
}

.contact__form {
    width: 100%;
}

.form {
    max-width: 500px;
    padding: 1.5em;
    display: flex;
    flex-direction: column;
    width: 100%;
    border-radius: 3px;
    text-align: left;
    background-color: var(--clr-white);
    margin: 0 auto;
}

.form__title {
    font-size: 1.3rem;
    font-family: Raleway-Light;
    color: var(--clr-main-color-dark);
    letter-spacing: 2px;
    font-weight: bolder;
    line-height: 1.5em;
}

.form-item {
    margin-top: 2.5em;
}

.form-item + .form-item {
    margin-top: 2em;
}

.form-item textarea {
    height: 12em;
}

.form-input {
    width: 100%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
    background-color: rgb(240, 240, 240);
    border: 0px;
    font-size: .6rem;
    letter-spacing: 2px;
    font-family: Raleway-Light;
    font-weight: bolder;
    padding: 1em;
}

.form-input::placeholder {
    color: rgb(100, 100, 100);
}

.form-input:focus::placeholder {
    color: var(--clr-main-color-dark);
    opacity: 0.85;
}

textarea {
    resize: none;
}

.form-button {
    font-size: .7rem;
    font-weight: bolder;
    letter-spacing: 2px;
    width: 100%;
    border-radius: 2px;
    border: 1px solid var(--clr-main-color-dark);
    padding: 1.5em;
    margin: 5em auto 0 auto;
    /* Ver si el transition está bien acá*/
    transition: 400ms ease-in-out;
    background-color: var(--clr-main-color-dark);
    color: var(--clr-white);
    font-family: Raleway-Light;
}

.form-button:hover {
    background-color: var(--clr-primary-3);
    cursor: pointer;
}

.contact-message-box {
    width:90%;
    margin: 1em auto 0 auto;
}

.contact-message {
    text-align: center;
    font-family: Raleway;
}

.success {
    border-radius: 2px;
    padding: .8em 1em;
    font-size: .8rem;
    color: white;
    background-color: rgb(60, 173, 88);
}

.error {
    border-radius: 2px;
    padding: .8em 1em;
    font-size: .8rem;
    color: white;
    background-color: rgb(218, 49, 49);
}

@media only screen and (min-width: 860px) {

    /* --------------- FOOTER BIG SCREEN START --------------- */
        
    .contact-form {
        padding: 4em;
        max-width: 800px;
        margin: 0 auto;
    }

    .form {
        max-width: none;
    }

    .contact__box-info {
        padding: 2em;
        border: 0;
    }

    .contact__description {
        font-size: .8rem;
        letter-spacing: 2px;
    }

    .form-input {
        font-size: .7rem;
    }

    /* --------------- FOOTER BIG SCREEN END --------------- */

}