/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

@font-face {
  font-family: 'Goldman';
  src: url(../fonts/Goldman-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
}

/*
=============== 
Variables
===============
*/

:root {
  --clr-primary-1: #1e71b8;
  --clr-primary-2: #428BD5;
  --clr-primary-3: #65A8F4;
  --clr-primary-4: #86C5FF;
  --clr-primary-5: #A7E3FF;
  --clr-white: #fff;
  --clr-black: #222;
  --ff-primary: 'Goldman', sans-serif;
  --ff-secondary: 'Montserrat', sans-serif;
  --ff-tertiary: 'Montserrat-Bold', sans-serif;
  --transition: all 0.3s ease;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  color: var(--clr-text);
  font-size: 1.25rem;
}

body {
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
}

section {
  padding: 3em 1em;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-family: var(--ff-secondary);
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}

p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.anchor {
  display:block;
  height:60px; 
  margin-top:-60px; 
  visibility:hidden;
}

/* --------------- WHATSAPP LOGO START --------------- */

.whatsapp-icon-container{
  font-size: 1.5rem;
}

.icon-whatsapp{
  position: fixed;
	bottom: 20px;
	right: 20px;
	text-align:center;
  z-index:100;
  transition: .5s ease all;
  padding: .4em;
  border-radius: 50%;
  color:#FFF;
  background-color: #25d366;
  box-shadow: 2px 2px 3px #999;
}

.icon-whatsapp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

/* --------------- WHATSAPP LOGO END --------------- */

/* --------------- HOME START --------------- */

#home {
  padding: 0;
  margin-bottom: 4em;
}

.carousel-item-home {
  height: 100vh;
}

.carousel-caption {
  text-align: center;
  position: absolute;
  top: 30%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
  padding: 0 2em;
}

.carousel-caption h1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: var(--ff-primary);
  letter-spacing: .15rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 3em;
  color: white;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 5px;
  background-color: var(--clr-primary-2);
  padding: 1em 1.5em;
  transition: 400ms ease-in-out;
  color: var(--clr-white);
  font-family: var(--ff-secondary);
}

.btn-lg:hover {
  background-color: var(--clr-primary-3);
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}
#arrow-left-home,
#arrow-right-home{
  color: white;
  font-size: 1.5rem;
}

/* --------------- HOME END --------------- */

/* --------------- SERVICES START --------------- */

.services {
  border-radius: 20px;
  box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -webkit-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  max-width: 485px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "carousel"
  "description"
  "btn-contact"
  "btn-services";
}
.services .carousel-container{
  grid-area: carousel;
}
.carousel__block {
  max-width: 500px;
}
.services-description {
  grid-area: description
}
.services-description h2{
  font-family: var(--ff-primary);
  color: #3E4756;
}
.services-description h4{
  font-family: var(--ff-tertiary);
  color: #A2ACBD;
}
.services-description p{
  font-family: var(--ff-secondary);
  color: #848c99;
}
.btn-contact {
  grid-area: btn-contact;
  transition: .5s ease all;
  padding: 1em;
  color: white;
  font-family: var(--ff-secondary);
  border: 1px solid var(--clr-primary-1);
  color: var(--clr-primary-1);
  text-align: center;
  display: flex;
  justify-content: center;
}
.btn-services {
  grid-area: btn-services;
  margin-top: 2em;
  transition: .5s ease all;
  padding: 1em;
  color: white;
  font-family: var(--ff-secondary);
  border: 1px solid var(--clr-primary-1);;
  color: var(--clr-primary-1);;
  text-align: center;
  display: flex;
  justify-content: center;
}

.btn-services:hover,
.btn-contact:hover{
  color: white;
  background-color: var(--clr-primary-1);
}

/* --------------- SERVICES END --------------- */

/* --------------- PRODUCTS START --------------- */

.products-container {
  margin-top: 4em;
}

.products {
  width: 80%;
  height: 1500px;
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}
.btn-box{
  display: block;
}

.btn-box button {
  font-family: var(--ff-secondary);
  width: 100%;
  background: rgba(224, 224, 224, 0.445);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 1em .6em;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .5em;
  color: rgb(131, 131, 131);
  transition: ease-in-out .2s;
}
.btn-active {
  background-color: white;
}
.btn-box button:hover {
  background: rgba(161, 161, 161, 0.445) !important;
}
.btn-box-buttons:hover {
  background: white !important;
}

.content{
  display: flex;
  justify-content: top;
  align-items: top;
  margin: 5% auto;
  position: absolute;
  transform: translateX(100%);
  transition: .3s;
}
#content1{
  transform: translateX(0px);
}
#btn1 {
  background-color: white;
  color: #0F70B7;
}
/* --------------- PRODUCTS END --------------- */

/* --------------- PRODUCTS 1 START --------------- */



/*
#content1{
  width: 100%;
  transition: .3s;
}

.carousel-container-content1{
  width: 100%;
}

.carousel__block-content1{
  max-width: none;
}
.content1_carousel{
  padding: 0 6em;
  grid-gap: 2em;
  display:grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: 
  "title1 title2 title2"
  "img1 text img2";
}
.content1__title1{
  grid-area: title1;
}
.content1__img1{
  grid-area: img1;
  max-width: 300px;
}
.content1__title2{
  grid-area: title2;
  text-align: center;
}
.content1__text{
  grid-area: text;
}
.content1__img2{
  grid-area: img2;
  max-width: 400px;
}*/


#content1{
  width: 100%;
  padding: .5em 2em;
  margin: 5% auto;
  position: absolute;
  /*transform: translateX(100%);*/
  transition: .3s;
  display: block;
  transform: translateX(0);
}
.content1-btn-box{
  text-align: center;
  display: block;
  width: 70%;
  margin: 0 auto;
}
.content1-btn-box button {
  font-family: var(--ff-secondary);
  width: 100%;
  background: rgba(224, 224, 224, 0.445);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .5em;
  color: rgb(131, 131, 131);
  transition: ease-in-out .2s;
}
.content1-btn-box button:hover{
  background: rgba(161, 161, 161, 0.445) !important;
}
/*
.carousel-container{
  margin: 0 auto;
}
*/
.content1-box {
  width: 100%;
}
/*
.content1-box h4{
  padding-top: 1em;
  margin: 0;
  font-family: var(--ff-primary);
  color: #3E4756;
}
.content1-box p {
  font-family: var(--ff-secondary);
  font-size: .8rem;
  color: #848c99;
  padding: 2em 0;
}
*/
#content1First{
  display: grid;
  margin: 0 auto;
  position: absolute;
  transform: translateX(0px);
  transition: .3s;
}
#content1Second{
  display: grid;
  margin: 0 auto;
  position: absolute;
  transform: translateX(110%);
  transition: .3s;
}
#content1Third{
  display: grid;
  margin: 0 auto;
  position: absolute;
  transform: translateX(110%);
  transition: .3s;
}
.container-content1 {
  position: relative;
}
.content1__container {
  margin:20px auto;
  width: 100%;
}
.content1__carousel {
  overflow: hidden;
  position: relative;
  background: #fff;
}
.content1__slider {
  display: flex;
  height: 100%;
  width: 200%;
}
.content1__slider section {
  flex-basis: 100%;
  justify-content: center;
  align-items: center;
  padding: 0 0 2em 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "btn"
  "img1"
  "title"
  "text"
  "img2";
}
.content1__slider img{
  max-width: 300px;
}
.content1-btn {
  grid-area: btn;
}
.content1-img1 {
  grid-area: img1;
}
.content1-title {
  grid-area: title;
}
.content1-text {
  grid-area: text;
}
.content1-img2 {
  grid-area: img2;
}
.content1__control ul {
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%);
}
.content1__control ul li {
  width: 10px;
  height: 10px;
  background: transparent;
  border: 2px solid #333;
  border-radius: 50px;
  margin: 10px;
  cursor: pointer;
}
.content1__control ul li.content1__selected {
  background: #333;
}

/* --------------- PRODUCTS 1 END --------------- */

/* --------------- PRODUCTS 3 START --------------- */

#content3{
  width: 100%;
  display: grid;
  margin: 5% auto;
  position: absolute;
  transform: translateX(100%);
  transition: .3s;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "text"
  "img"
}

#content3 h4 {
  padding-top: 1em;
  margin-bottom: 0;
  width: 100%;
  grid-area: title;
  font-family: var(--ff-primary);
  color: #3E4756;
}
#content3 p {
  font-family: var(--ff-secondary);
  font-size: .8rem;
  padding: 2em 0;
  grid-area: text;
  color: #848c99;
}
#content3 img {
  width: 100px;
  grid-area: img;
}

/* --------------- PRODUCTS 3 END --------------- */

/* --------------- PRODUCTS 4 START --------------- */

#content4{
  width: 100%;
  display: grid;
  margin: 5% auto;
  position: absolute;
  transform: translateX(100%);
  transition: .3s;
  grid-template-columns: 1fr;
  grid-template-areas:
  "title"
  "text"
  "img"
  "title2"
  "text2"
  "img2"
}

.content4-title {
  padding-top: 1em;
  margin: 0;
  width: 100%;
  grid-area: title;
  font-family: var(--ff-primary);
  color: #3E4756;
}
.content4-text {
  font-size: .8rem;
  padding: 2em 0;
  grid-area: text;
  font-family: var(--ff-secondary);
  color: #848c99;
}
.content4-img {
  width: 100px;
  grid-area: img;
}
.content4-title2 {
  padding-top: 3em;
  margin: 0;
  width: 100%;
  grid-area: title2;
  font-family: var(--ff-primary);
  color: #3E4756;
}
.content4-text2 {
  font-size: .8rem;
  padding: 2em 0;
  grid-area: text2;
  font-family: var(--ff-secondary);
  color: #848c99;
}
.content4-img2 {
  width: 100px;
  grid-area: img2;
}

/* --------------- PRODUCTS 4 END --------------- */

/* --------------- PRODUCTS 5 START --------------- */

#content5{
  width: 100%;
  padding: .5em 2em;
  margin: 5% auto;
  position: absolute;
  transform: translateX(100%);
  transition: .3s;
  display: block;
}
.content5-btn-box{
  text-align: center;
  display: block;
  width: 70%;
  margin: 0 auto;
}
.content5-btn-box button {
  font-family: var(--ff-secondary);
  width: 100%;
  background: rgba(224, 224, 224, 0.445);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: .5em;
  color: rgb(131, 131, 131);
  transition: ease-in-out .2s;
}
.content5-btn-box button:hover{
  background: rgba(161, 161, 161, 0.445) !important;
}
.carousel-container{
  margin: 0 auto;
}
.content5-box {
  width: 100%;
}
.content5-box h4{
  padding-top: 1em;
  margin: 0;
  font-family: var(--ff-primary);
  color: #3E4756;
}
.content5-box p {
  font-family: var(--ff-secondary);
  font-size: .8rem;
  color: #848c99;
  padding: 2em 0;
}
.content5-img{
  width: 200px;
}
#content5First{
  width: 100%;
  display: grid;
  margin: 5% auto;
  position: absolute;
  transform: translateX(0px);
  transition: .3s;
}
#content5Second{
  width: 100%;
  display: grid;
  margin: 5% auto;
  position: absolute;
  transform: translateX(110%);
  transition: .3s;
}
#content5Third{
  width: 100%;
  display: grid;
  margin: 5% auto;
  position: absolute;
  transform: translateX(110%);
  transition: .3s;
}
.content5-next-arrow{
  background-image:none;
}
 
 .content5-previous-arrow{
   background-image: none;
 }

 .arrow-previous,
 .arrow-next {
   color: black;
 }
 
/* --------------- PRODUCTS 5 START --------------- */

/* --------------- MAP START --------------- */

.map {
  padding: 0;
  margin: 0;
  line-height: 0; 
}

.map iframe {
  width:100%;
  margin: 0;
  padding: 0;
}

/* --------------- MAP END --------------- */




@media screen and (min-width: 800px) {
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
.section-center {
    width: 95vw;
  }
}

  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }


@media screen and (min-width: 800px) {

  .icon-whatsapp{
    bottom: 60px;
    right: 60px;
    padding: .5em;
  }

/* --------------- HOME BIG SCREEN START --------------- */

.carousel-item-home {
  height: 100vh;
}

.carousel-caption {
  max-width: 1100px;
  margin: 0 auto;
  top: 38%;
  text-align: left;
  padding: 0 6em;
}

.carousel-caption h1 {
  font-size: 3rem;
  letter-spacing: .3rem;
  padding-bottom: 4rem;
}

.btn-lg {
  font-size: 1.1rem;
}

.carousel-control-prev,
.carousel-control-next {
  display:-ms-flexbox;
  display:flex;
}

/* --------------- HOME BIG SCREEN END --------------- */

/* --------------- SERVICES BIG SCREEN START --------------- */

.services {
  padding: 2em;
  max-width: 1000px;
  margin: 0 auto;
  grid-gap: 2em;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: 
  "carousel description"
  "btn-contact btn-services";
}
.btn-services{
  align-items: center;
  margin-top: 0;
}

/* --------------- SERVICES BIG SCREEN END --------------- */


}


@media screen and (min-width: 1000px) {


/* --------------- PRODUCTS BIG SCREEN START --------------- */
.products-container {
  background-color: rgb(233, 233, 233);
}
.products {
  background-color: white;
  height: 1300px;
  max-width: 1400px;
}
.btn-box{
  padding: 2em 1em 0 1em;
  display: flex;
  background-color: rgba(228, 228, 228, 0.445);
}
.btn-box button {
  font-size: .8rem;
  width: auto;
  margin-bottom: 0;
  background-color: rgba(136, 136, 136, 0.199);
  margin-right: .2em;
}


/* --------------- PRODUCTS BIG SCREEN END --------------- */

/* --------------- PRODUCTS 1 BIG SCREEN START --------------- */

#content1 {
  margin: 0;
}
.content1-btn-box {
  width: 100%;
  text-align: left;
  padding: .5em 1em 0 1em;
}
.content1-btn-box button {
  background-color: rgb(180, 180, 180);
  width: auto;
  margin-bottom: 0;
  font-size: .8rem;
}
#content1-btn1 {
  background-color: rgb(226, 226, 226)
}
.content1-box {
  background-color: rgb(226, 226, 226);
}
#content1First {
  margin: 0;
  padding: 1em;
}
#content1Second {
  margin: 0;
  padding: 1em;
}
#content1Third{
  margin: 0;
  padding: 1em;
}
.content1-img1,
.content1-img2{
  width: 100%;
}
.content1__slider section {
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
  "btn title title"
  "img1 text img2";
  
}

/* --------------- PRODUCTS 1 BIG SCREEN END --------------- */


/* --------------- PRODUCTS 3 BIG SCREEN  START --------------- */

#content3{
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "title ."
  "img text"
}

#content3 h4 {
  padding-bottom: .5em;
}

#content3 p {
  font-size: .9rem;
}
#content3 img {
  width: 300px;
}
/* --------------- PRODUCTS 3 BIG SCREEN END --------------- */

/* --------------- PRODUCTS 4 BIG SCREEN START --------------- */
#content4{
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:
  "title ."
  "text img"
  "title2 ."
  "text2 img2"
}

.content4-title {
  padding-bottom: .5em;
}
.content4-text {
  font-size: .9rem;
  padding: 0;
}
.content4-img {
  width: 200px;
}
.content4-title2{
  padding-top: 2em;
  padding-bottom: .5em;
}
.content4-text2 {
  font-size: .9rem;
  padding: 0;
}
.content4-img2 {
  width: 200px;
}
/* --------------- PRODUCTS 4 BIG SCREEN END --------------- */

/* --------------- PRODUCTS 5 BIG SCREEN START --------------- */

#content5 {
  margin: 0;
}
.content5-btn-box {
  width: 100%;
  text-align: left;
  padding: .5em 1em 0 1em;
}
.content5-btn-box button {
  background-color: rgb(180, 180, 180);
  width: auto;
  margin-bottom: 0;
  font-size: .8rem;
}
#content5-btn1 {
  background-color: rgb(226, 226, 226)
}
.content5-box {
  background-color: rgb(226, 226, 226);
}
.container-content5 {
  position: relative;
}
#content5First {
  margin: 0;
  padding: 1em;
}
#content5Second {
  margin: 0;
  padding: 1em;
}
#content5Third{
  margin: 0;
  padding: 1em;
}
.content5-img{
  width: 100%;
}

/* --------------- PRODUCTS 5 BIG SCREEN END --------------- */

}








