/*
=============== 
Fonts
===============
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap');

@font-face {
  font-family: 'Colfax';
  src: url(../fonts/Colfax-Regular.otf);
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url(../fonts/Raleway-Thin.ttf);
}

@font-face {
  font-family: 'Raleway-Light';
  src: url(../fonts/Raleway-Light.ttf);
}

@font-face {
  font-family: 'Raleway';
  src: url(../fonts/Raleway-Regular.ttf);
}

@font-face {
  font-family: 'Raleway-Medium';
  src: url(../fonts/Raleway-Medium.ttf);
}

@font-face {
  font-family: 'Oswald';
  src: url(../fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: 'Oswald-Light';
  src: url(../fonts/Oswald-Light.ttf);
}

@font-face {
  font-family: 'Oswald-Medium';
  src: url(../fonts/Oswald-Medium.ttf);
}

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face {
  font-family: 'Quicksand';
  src: url(../fonts/Quicksand-Regular.ttf);
}

/*
=============== 
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Open Sans', sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  scroll-behavior: smooth;
}

html {
  box-sizing: border-box;
  font-family: Raleway;
  color: var(--clr-text);
  font-size: 1.25rem;
}

body {
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  margin: 0;
}

section {
  padding: 3em 1em;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}

.anchor {
  display:block;
  height:60px; 
  margin-top:-60px; 
  visibility:hidden;
}

/* --------------- WHATSAPP LOGO START --------------- */

.float{
  transition: .5s ease all;
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/* --------------- WHATSAPP LOGO END --------------- */

/* --------------- HOME START --------------- */

#home {
  padding: 0;
}

.carousel-item {
  height: 100vh;
}

.carousel-caption {
  position: absolute;
  top: 30%;
  text-transform: uppercase;
  width: 100%;
  right: 0;
  left: 0;
  padding: 0 .5em;
  text-align: left;
}

.carousel-caption h1 {
  font-size: 1.5rem;
  font-weight: 700;
  font-family: Raleway-Light;
  letter-spacing: .15rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 3em;
}

.btn-lg {
  border-width: medium;
  border-radius: 0;
  font-size: 1rem;
  font-weight: bolder;
  letter-spacing: 2px;
  background-color: rgb(28, 106, 151);
  padding: 1em 1.5em;
  transition: 400ms ease-in-out;
  color: var(--clr-white);
  font-family: Raleway-Light;
}

.btn-lg:hover {
  background-color: rgb(49, 147, 204);
}

.carousel-control-prev,
.carousel-control-next {
  display: none;
}

/* --------------- HOME END --------------- */

/* --------------- FEATURES START --------------- */

.features {
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "feature__box1"
  "feature__box2"
  "feature__box3"
  "feature__box4"
}

.features__title {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-family: OpenSans;
  color: var(--clr-black);
  letter-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.feature__box1 { grid-area: feature__box1; }
.feature__box2 { grid-area: feature__box2; }
.feature__box3 { grid-area: feature__box3; }
.feature__box4 { grid-area: feature__box4; }

.feature__box {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 1em;
}

.feature__box i {
  font-size: 1.5rem;
  color: var(--clr-white);
  margin-bottom: 20px;
  background-color: rgb(74, 158, 190);
  padding: .8em;
  border-radius: 50%;
}

.feature__box h4 {
  color: var(--clr-black);
  font-family: Quicksand;
  font-size: .8rem;
  padding-top: .5em;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.feature__box-description {
  font-family: Quicksand;
  padding-top: 1em;
  font-size: .7rem;
  color: var(--clr-black);
  line-height: 1.2rem;
}


/* --------------- FEATURES END --------------- */

/* --------------- PRODUCTS START --------------- */

.products-container {
  background-color: rgba(179, 179, 179, 0.178);
  padding: 4em 2em 6em 2em;
}

.products {
  margin: 0 auto;
  display: grid;
  grid-gap: 2em;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "box1"
  "box2"
  "box3"
}

.products__title {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-family: OpenSans;
  color: var(--clr-black);
  letter-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
}

.product__box1 { grid-area: box1; }
.product__box2 { grid-area: box2; }
.product__box3 { grid-area: box3; }

.product__box {
  border-radius: 10px;
  overflow: hidden;
  background: var(--clr-white);
  transition: .5s ease;
  margin: 0 auto;
  max-width: 350px;
  text-align: center;
  -webkit-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  -moz-box-shadow: 0px 0px 22px 3px rgba(199, 199, 199, 0.5);
  box-shadow: 0px 0px 22px 3px rgba(151, 151, 151, 0.452);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "img"
  "description"
}

.product__box:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
}

.product__img {
  grid-area: img;
}

.product__box img {
  width: 100%;
  height: 200px;
}

.product__description {
  padding: 1em;
  grid-area: description;
}

.product__box h4 {
  grid-area: title;
  color: var(--clr-black);
  font-size: .8rem;
  padding-top: .5em;
  font-family: Quicksand;
  letter-spacing: 4px;
}

.product__box-description {
  grid-area: description;
  font-family: Quicksand;
  padding-top: 1em;
  font-size: .7rem;
  color: var(--clr-black);
  line-height: 1.2rem;
  letter-spacing: 1.5px;
}

.product__btn {
  grid-area: btn;
  font-family: Quicksand;
  color: black;
  font-weight: bolder;
  font-size: .8rem;
  letter-spacing: 2px;
  transition: .5s ease all;
}

.product__btn:hover {
  color: rgb(48, 113, 150);
}

/* --------------- PRODUCTS END --------------- */

/* --------------- ACTION-CALL START --------------- */

.action-call-container {
  background-color: rgb(22, 66, 92);
  padding: 1.7em;
}

.action-call {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  grid-gap: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "description"
  "btn"
}

.action-call__text {
  grid-area: description;
  color: var(--clr-white);
  text-transform: uppercase;
}

.action-call__text h4 {
  margin: 0;
  font-family: Quicksand;
}

.action-call__btn {
  grid-area: btn;
  color: var(--clr-white);
  border: 1px solid white;
  margin: 0 auto;
  transition: .5s ease all;
  padding: .5em 1.5em;
  font-weight: bold;
  text-transform: uppercase;
  font-family: Quicksand;
}

.action-call__btn:hover {
  background-color: white;
  color: rgb(22, 66, 92);
}

/* --------------- ACTION-CALL END --------------- */

/* --------------- IMAGE GALLERY START --------------- */

.image-gallery-container {
  width: 100%;
  max-width: 120rem;
  margin: auto;
  padding: 4em 1.5rem;
  text-align: center;
}

.image-gallery__title {
  margin-bottom: 2em;
  font-size: 1.3rem;
  font-family: OpenSans;
  color: var(--clr-black);
  letter-spacing: 3px;
  line-height: 1.5em;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.image-gallery_subtitle {
  font-family: Quicksand;
  padding: 1em 0;
}

.image-gallery-btn {
  color: black;
}

.image-gallery {
  margin: 0 auto;
  display: grid;
  max-width: 1500px;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-gap: 1.5rem;
  grid-template-areas: 
  "img1"
  "img2"
  "img3"
  "img4";
}

.image-gallery a {
  width: 100%;
  height: 15rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.ion-icon {
  color: rgba(255,255,255, .6);
  font-size: 3rem;
  position: relative;
  z-index: 100;
  padding: 1rem 3rem;
  border: 2px solid rgba(255,255,255,.6);
  border-radius: .4rem;
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.8);
  opacity: 0;
  transition: opacity .5s;
}

.image-gallery a:hover ion-icon,
.image-gallery a:hover::before{
  opacity: 1;
}

.img-1 {
  grid-area: img1; 
  background-image: url("static/img/home1.jpg");
}

.img-2 {
  grid-area: img2;
  background-image: url("static/img/home2.jpg"); 
}

.img-3 {
  grid-area: img3; 
  background-image: url("static/img/home3.jpg");
}
.img-4 {
  grid-area: img4; 
  background-image: url("static/img/home4.jpg");
}

/* --------------- IMAGE GALLERY END --------------- */


@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

  main {
    min-height: 100vh;
    display: grid;
    place-items: center;
  }

/*
=============== 
Navbar
===============
*/
nav {
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-primary-5);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-primary-1);
  transform: rotate(90deg);
}
.logo {
  height: 60px;
}
.links a {
  color: var(--clr-black);
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: var(--spacing);
  display: block;
  padding: 0.5rem 2rem;
  transition: var(--transition);
}
.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}
.links {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 10rem;
}
@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links {
    height: auto;
    display: flex;
  }
  .links a {
    padding: 0;
    margin: 0 1rem;
  }
  .links a:hover {
    padding: 0;
    background: transparent;
  }
  /* --------------- HOME BIG SCREEN START --------------- */

  .carousel-item {
    height: 100vh;
  }

  .carousel-caption {
    max-width: 1100px;
    margin: 0 auto;
    top: 38%;
  }

  .carousel-caption h1 {
    font-size: 3rem;
    letter-spacing: .3rem;
    padding-bottom: 4rem;
  }

  .btn-lg {
    font-size: 1.1rem;
  }

  .carousel-control-prev,
  .carousel-control-next {
    display:-ms-flexbox;
    display:flex;
  }

/* --------------- HOME BIG SCREEN END --------------- */

/* --------------- FEATURES BIG SCREEN START --------------- */

  .features {
    padding: 0 2em;
    max-width: 1500px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
    "feature__box1 feature__box2 feature__box3 feature__box4"
  }
  .features__title {
    font-size: 1.6rem;
  }

  .feature__box {
    grid-template-rows: 3.5em 3.5em;
    padding: 1.3em;
  }

  .feature__box h4 {
    padding-top: 0;
    font-size: 1rem;
  }
  
  .feature__box-description {
    padding: 0;
    font-size: .8rem;
    letter-spacing: 1px;
  }

/* --------------- FEATURES BIG SCREEN END --------------- */

/* --------------- PRODUCTS BIG SCREEN START --------------- */

  .products {
    padding: 0 2em;
    max-width: 1500px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "box1 box2 box3"
  }

  .products__title {
    font-size: 1.6rem;
  }

  .product__box h4 {
    padding-top: 0;
    font-size: 1rem;
  }
  
  .product__box-description {
    padding: 0;
    font-size: .7rem;
    letter-spacing: 1px;
  }

  /* --------------- PRODUCTS BIG SCREEN END --------------- */

  /* --------------- ACTION-CALL START --------------- */

  .action-call {
    grid-gap: 0;
    max-width: 1000px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "description btn"
}

/* --------------- ACTION-CALL END --------------- */

/* --------------- IMAGE GALLERY START --------------- */

.image-gallery {
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: 
  "img1 img2 img2"
  "img1 img3 img4";
}

.image-gallery__title {
  font-size: 1.6rem;
}

.img-1 {
  min-height: 31.5rem;
}

/* --------------- IMAGE GALLERY END --------------- */
}
